#nav {
	background: #4d4d4d;
	height: 60px;
	width: auto;
	font-family: Exo;
	color: #fff;
}

#nav a {
	height: 50px;
	position: relative;
	display: inline;
	float: left;
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 5px;
	text-align: left;
	color: #B227F8;
	text-decoration: none;
	line-height: 50px;
	text-shadow: 0 0 5px #000000;
	font-size:18px;
}

#nav a:hover {
	text-decoration:none;
	background:#404040;
}

#navright a {
	height: 50px;
	position: relative;
	display: inline;
	float: right;
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 5px;
	text-align: center;
	color: #B227F8;
	text-decoration: none;
	line-height: 50px;
	font-weight: normal;
	font-size:12px;
	font-family: ArchitectsDaughter;
}

#navright a:hover {
	text-decoration:none;
	background:#404040;
}